@import "~antd/dist/antd.css";
.full-width {
  width: 100%;
}
.padding20 {
  padding: 20px;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 15px 10px;
  text-align: center;
}

.ant-layout-sider-collapsed .logo {
  margin: 10px 10px 20px;
}

.logo img {
  width: 115px;
}
.ant-layout-sider-collapsed .logo img {
  width: 50px;
  padding: 10px;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  border-color: #e76d0c #e15500 #e15500;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.05) 0 1px 0;
  background-color: #ec7211;
  background-image: linear-gradient(180deg, #f67c1b 0, #e15500);
}

.site-layout .site-layout-background {
  background: #f7f5f3 !important;
}

.ant-layout.ant-layout-has-sider {
  min-height: 100vh;
}
.count-card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 10px -4px rgb(0 0 0 / 22%);
  border-radius: 5px;
  background: #fff;
  padding: 15px;
}
.padding1 {
  padding: 20px 0px 0px 0px;
}

.trigger:hover,
.ant-pagination-item-active a,
.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a {
  color: #ec7211;
}
.ant-pagination-item-active,
.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover {
  border-color: #ec7211;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ec7211;
  border-color: #ec7211;
}
canvas {
  max-width: 100%;
}
.height420 {
  height: 420px;
}
.marginbottom60 {
  margin-bottom: 70px;
  font-weight: 500;
  text-align: center;
}
.highcharts-title tspan {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
}
.count-card svg {
  font-size: 44px;
  color: #ec7211;
}
.count-card h3 {
  font-size: 44px;
  margin-bottom: 0px;
  line-height: 44px;
}
.count-number {
  display: inline-block;
  float: right;
}
.count-title h6 {
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 2px;
}
.chart-card,
.table-card {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 10px -4px rgb(0 0 0 / 22%);
  border-radius: 5px;
  background: #fff;
  padding: 20px 20px 0px;
  cursor: pointer;
}
.ant-table-tbody > tr.ant-table-row-selected:hover > td,
.ant-table-tbody > tr.ant-table-row-selected > td {
  background: #f7f5f3;
}
